/* stylelint-disable */
/* Sakura.css v1.4.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.618;
  // max-width: 38em;
  max-width: 95%;
  margin: auto;
  color: #4a4a4a;
  // background-color: #f9f9f9;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.28'%3E%3Cpolygon fill='%23cce6ee' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2399cddd' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2366b5cc' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23339cbb' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230083AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding: 13px;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .calculatorContainer {
    width: 90vw;
  }
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1.3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-color: #1d7484;
}

a {
  text-decoration: none;
  color: #1d7484;
}
a:visited {
  color: #144f5a;
}
a:hover {
  color: #982c61;
  border-bottom: 2px solid #4a4a4a;
}

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid #1d7484;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}

blockquote p {
  margin-bottom: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;
}

code,
kbd,
samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid #4a4a4a;
}
input:focus,
textarea:focus {
  border: 1px solid #1d7484;
}

textarea {
  width: 100%;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1d7484;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #1d7484;
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type='submit']:focus:enabled,
input[type='submit']:hover:enabled,
input[type='reset']:focus:enabled,
input[type='reset']:hover:enabled,
input[type='button']:focus:enabled,
input[type='button']:hover:enabled {
  background-color: #982c61;
  border-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}

textarea,
select,
input {
  color: #4a4a4a;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus,
select:focus,
input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}

input[type='checkbox']:focus {
  outline: 1px dotted #1d7484;
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

// .motherOfContainers {
//   width: 100%;
//   justify-content: center;
//   display: flex;
//   flex-direction: column;
// }

.appBar {
 color: white;
}


.calculatorContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 60%;
}

#inputId {
  width: 4em;
  height: 20px;
  padding: 5px;
}

.calculatorContent.Full {
  width:100%;
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
}

.calculatorContainer {
  margin-bottom: 30px;
  background-color: #ffffffc7;
  padding: 20px;
  border-radius: 10px;
  min-width: 50vw;
}


.diagramBtn {
  width: min-content;
  height: min-content;
  display: flex;
}

.oneCalculatorContainer{
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.inputFields {
  display: flex;
  flex-direction: row;
  gap: 5%;
  flex-wrap: wrap;
}

.margin{
  margin-top: 10px;
}

//yamlissa määritelty
.calculators{
  width: auto;
  // display: flex;
  flex-wrap: wrap;
  padding:10px;
  gap: 10px;
}

.MuiFormControlLabel-label {
  font-size: medium !important;
  // font-weight: 550 !important;

}

.peruutusLaskuri{
  display: grid;
  grid-template-columns: repeat(2, 50% [ col-start ]);
  gap: 10px;
}

// .paivCalculator {
//   flex-wrap: wrap;
// }

.slider {
  min-width: 65%;
}

.chartSlider {
  width: 50%;
}

.sliderValue {
  width: 100%;
  display: flex;
  gap: 5px;
}

.sliderValue label {
  width: 45px;
}

.inputTextField {
  min-width: 20%;
}

.palkatLaskuri {
  display: flex;
  flex-direction: column;
}


.peruutusLaskuri label {
  min-height: 50px;
}

.calculatorContainerChartBar {
  width:45%;
  position: fixed;
  bottom: 7vh;
  right: 1px;
  justify-items: center;
}
.calculatorContainerChartPie {
  position: fixed;
  bottom: 7vh;
  right: 1px;
  justify-items: center;
}

.barChartDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  width: fit-content;
  padding: 4px 9px;
  background-color: #144f5a;
  border-radius: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.delete-button {
  border-radius: 10px;
}
.registerBtn {
  border-radius: 5px;
  padding: 8px;
}

.printingPdf {
  margin-top: 10px;
  overflow: hidden;
  .calculatorContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 82%;
    justify-content: center;
  }
  .calculatorContainerChartBar, .calculatorContainerChartPie {
    position: relative;
    right: 5px;
    // top: -100px;
    width: 45%;
    float: right;
    justify-items: center;
    bottom: 10px;
  }

  .calculatorTesti {
    display: flex;
  }
}

.printBtn {
  // background-color: fff;
  color: #004256;
  cursor: pointer;
}

.pageChange {
  margin-top: 350px
}

.resultsPageContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  // transition: transform 0.5s ease;
}


.showCitysContainer {
  width: 30%;
  flex-direction: column;
  position: static;
  transform: translateX(0%);
  transition: transform 0.5s ease;

}

.showCitysContainer.centered {
  width: 35%;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  transform: translateX(50%);
  transition: transform 0.4s ease;
}

.showCitysContainer h3, .showCitysContainer p {
  margin: 5px;
}

.showResultsContainer {
  border: 2px solid #982c61;
  border-radius: 10px;
  background-color: #982c600c;
  width: 70%;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.showResultsContainer.active{
  opacity:1;
  transition: opacity 0.8s ease;

}

.cityList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width:95%;
  width: fit-content;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.cityList:hover {
  background-color: #ddeaee;
}

.citylistActive {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color:#982c61;
  color:white;
}

.calculatorsStatsCont {
  border-bottom: solid 1px gray;
}

.calculatorsStats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3px;
}

.infoHeaderWithButton {
  display: flex;
}

.savedBtn {
  height: 2.5em;
  align-self: center;
  margin: 5px;
}

.userNameInfo {
  position: absolute;
  top: 15px;
  right: 30px;
  display: flex;
  gap: 5px;
}

.userNameInfoBorder {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  align-self: center;
}

.login-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #b79d9d;
  border-radius: 10px;
  box-shadow: 24;
  color: #fff;
  padding: 20px; 
  z-index: 1;
  overflow: hidden; 
}

.login-modal::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2347248e'/%3E%3Cstop offset='1' stop-color='%2347248e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23139fbd'/%3E%3Cstop offset='1' stop-color='%23139fbd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235719c8'/%3E%3Cstop offset='1' stop-color='%235719c8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231D7484'/%3E%3Cstop offset='1' stop-color='%231D7484' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23982C61'/%3E%3Cstop offset='1' stop-color='%23982C61' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
  pointer-events: none; 
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  height: 50vh;
  justify-content: center;
  position: relative;
  top: -30px;
}
.custom-typography {
  text-align: center;
}
.form-textfield {
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 5px;
  // color: #000;
}
// .Mui-focused .MuiOutlinedInput-notchedOutline {
//   border-color: #feffd3 !important;
// }
// .MuiFormLabel-root.Mui-focused {
//   color: #ffffe9 !important; /* Asettaa halutun värin */
// }

.loginBtn {
  background-color:#2990b0;
  color:#fff;
  padding: 6px;
  border: 1px solid #08556c;
  border-radius: 5px;
  width: 95%;
  align-self: center;
}

.submitBackBtns{
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.register-modal {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  height: 60vh;
}


@media (min-width: 1024px) {
  .calculatorContent.Full {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 800px) {
  .calculatorContent.Full {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
}

@media (max-width: 799px) {
  .calculatorContent{
    width:100%;
  }
  .calculatorContainerChartBar {
    width: 100%;
    position: relative;
  }
  // .calculatorContent.Full {
  //   grid-template-columns: 1fr;
  // }

  // .calculatorContent.Full > div:nth-child(3n) {
  //   grid-column: span 1;
  // }
  // .calculatorContent.Full > div:nth-child(4n) {
  //   grid-column: span 1;
  // }




}

